<%= render 'common/header' %>
<%#マイページでの本一覧の表示 %>
<% if @books.length != 0 %>
<div class='main'>
  <%= render 'common/book-title', { title: '本一覧'} %>
  <div class='main-lower'>
    <ul class='book-list'>
      <% @books.each do |book| %>
        <li class='book'>
          <%= link_to book_path(book), class:'book-link' do %>
            <%= image_tag "/images/book_cover_kawa.png", class: "book-img" %>
            <div class='book-title'><%= book.title %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%# ページネーション %>
    <div class='paginate'>
      <%= paginate @books %>
    </div>
  </div>
</div>
<%#本がない場合のダミー %>
<% else %>
<div class='main'>
  <%= render 'common/book-title', { title: '本を追加しよう!'} %>
  <div class='main-lower'>
    <ul class='book-list'>
    <% 8.times do %>
      <li class='book'>
        <%= link_to '#' do %>
          <%= image_tag "/images/book_cover_kawa.png", class: "book-img" %>
          <div class='book-title'>title</div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>