<header class='my-page-header'>
  <div class='search'>
    <%= render 'common/app-title' %>
  </div>
  <div class='guide'>
   <div class='left-side-header'>
      <ul>
        <li>
          <%= link_to 'マイページへ', user_path(current_user) , class: 'memo-index'%>
        </li>
      </ul>
    </div>
    <div class='right-side-header'>
      <ul>
        <li class='user-name'>
          <%= current_user.name %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout' %>
        </li>
      </ul>
    </div>
  </div>
</header>
<%#本のタイトル入力フォーム %>
<div class='add-book'>
  <div class='main-content'>
    <div class='heading'>
      <div class='form-title'>
        タイトルの登録
      </div>
    </div>
    <%= form_with model: @book, local: true, class: 'submit-form' do |f| %>
      <%# エラーメッセージの表示 %>
      <%= render 'common/error-messages', model: f.object %>
      <%= render 'common/book-form', model: f %>
      <%= f.submit '本を登録', class: 'book-register' %>
    <% end %>
  </div>
</div>