<%= render 'common/header' %>
<div class='main'>
  <div class='main-upper'>
    本一覧
  </div>

  <div class='main-lower'>
    <ul class='book-list'>
      <% @books.each do |book| %>
        <li class='book'>
          <%= link_to book_path(book), class:'book-link' do %>
            <%= image_tag "/images/book_cover_kawa.png", class: "book-img" %>
            <div class='book-title'><%= book.title %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%# ページネーションの追加 %>
    <div class='paginate'>
      <%= paginate @books %>
    </div>
  </div>
</div>