<header class='my-page-header'>
  <div class='search'>
    <div class='app-title'>ReadingMemo</div>
    <form class='search-form' action="#">
      <input class='search-box' placeholder='検索したいワードを入力してください'>
      <button class='search-btn'>
        検索
      </button>
    </form>
  </div>
  <div class='guide'>
    <div class='left-side-header'>
      <ul>
        <li>
          <%= link_to 'タイトルの編集', edit_book_path(@book) , class: 'edit-title'%>
          <%= link_to '本の削除', book_path(@book), class: 'delete-book', method: :delete %>
          <%= link_to 'メモの追加', new_book_memo_path(@book), class: 'add-memo-btn' %>
        </li>
      </ul>
    </div>
    <div class='right-side-header'>
      <ul>
        <li class='user-name'>
          <%= link_to current_user.name, user_path(current_user.id), class:'current-user'%>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout' %>
        </li>
      </ul>
    </div>
  </div>
</header>

<% if @memos.length != 0 %>
<div class='main'>
  <div class='main-upper'>
    <%= @book.title %>
  </div>
  <div class='main-lower'>
    <ul class='memo-list'>
    <% @memos.each do |memo| %>
      <li class='memo'>
        <%= link_to book_memo_path(@book, memo) do %>
          <% if memo.image.attached? %>
            <%= image_tag memo.image, class: "memo-img" %>
          <% end %>
          <div class='memo-content'><%= memo.memo %></div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% else %>
<div class='main'>
  <div class='main-upper'>
    メモを追加しよう!
  </div>
  <div class='main-lower'>
    <ul class='memo-list'>
    <% 3.times do %>
      <li class='memo'>
        <%= link_to '#' do %>
          <%= image_tag '/images/book-4878119_1920.png', class: 'memo-img' %>
          <div class='memo-content'>memo</div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>