<header class='my-page-header'>
  <%# ヘッダー上部 %>
  <div class='search'>
    <%= render 'common/app-title' %>
    <%= render 'common/search-memo' %>
  </div>
  <%# ヘッダー下部 %>
  <div class='guide'>
    <%= render 'common/left-side-header', {info1: 'メモの追加', path1: new_book_memo_path(@book), info2: '本の編集', path2: edit_book_path(@book), info3: '本の削除', path3: book_path(@book)} %>
    <%= render 'common/right-side-header' %>
  </div>
</header>
<% if @memos.length != 0 %>
<div class='main'>
  <%# 本のタイトル表示 %>
  <div class='main-upper'>
    <%= @book.title %>
  </div>
  <div class='main-lower'>
    <%# メモ一覧表示 %>
    <ul class='memo-list'>
    <% @memos.each do |memo| %>
      <li class='memo'>
        <%= link_to book_memo_path(@book, memo) do %>
          <% if memo.image.attached? %>
            <%= image_tag memo.image, class: "memo-img" %>
          <% end %>
          <div class='memo-content'><%= memo.memo %></div>
        <% end %>
      </li>
    <% end %>
    </ul>
    
    <%# ページネーション %>
    <div class='paginate'>
      <%= paginate @memos %>
    </div>
  </div>
</div>
<%# メモが無いときのダミー %>
<% else %>
<div class='main'>
  <%# 本のタイトル表示 %>
  <div class='main-upper'>
    <%= @book.title %>
  </div>
  <div class='main-lower'>
    <%# メモ一覧表示 %>
    <ul class='memo-list'>
    <% 3.times do %>
      <li class='memo'>
        <%= link_to '#' do %>
          <%= image_tag '/images/1491.jpg', class: 'memo-img' %>
          <div class='memo-content'>メモを追加しよう</div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>