<%= render 'common/header' %>
<div class='main'>
  <%# 本のタイトル %>
  <div class='main-upper'>
    <%= title %>
  </div>
  <div class='main-lower'>
    <%# メモ一覧表示 %>
    <ul class='memo-list'>
      <li class='memo'>
        <%= image_tag "/images/IMG_30#{image1}.jpeg", class: "memo-img" %>
        <div class='memo-content'>
          <%= comment1 %>
        </div>
      </li>
      <li class='memo'>
        <%= image_tag "/images/IMG_30#{image2}.jpeg", class: "memo-img" %>
        <div class='memo-content'>
          <%= comment2 %>
        </div>
      </li>
    </ul>
  </div>
</div>
