<header class='my-page-header'>
  <%# ヘッダー上部 %>
  <div class='search'>
    <%= render 'common/app-title' %>
  </div>
  <%# ヘッダー下部 %>
  <div class='guide'>
   <div class='left-side-header'>
      <ul>
        <li>
          <%= link_to 'メモ詳細', book_memo_path(@book, @memo) , class: 'memo-index'%>
        </li>
      </ul>
    </div>
    <%= render 'common/right-side-header' %>
  </div>
</header>

<%#メモ追加フォーム %>
<div class='add-memo'>
  <div class='add-memo-form'>
    <div class='heading'>
      <div class='form-title'>
        メモの編集
      </div>
    </div>
    <%= form_with model: [@book, @memo], local: true, class: 'memo-form' do |f| %>
      <%# エラーメッセージの表示 %>
      <%= render 'common/error-messages', model: f.object %>
      
      <%= render 'common/memo-form', model: f %>
      <%= f.submit 'メモを編集', class: 'memo-register-btn' %>
    <% end %>
  </div>
</div>