<header class='my-page-header'>
  <div class='search'>
    <%= render 'common/app-title' %>
    <%= form_with url: search_memo_path(@book), local: true, method: :get, class:'search-form'  do |f|%>
      <%= f.text_field :keyword, placeholder:'ワードを入力してください', class:'search-box' %>
      <%= f.submit '検索', class:'search-btn' %>
    <% end %>
  </div>
  <div class='guide'>
    <div class='left-side-header'>
      <ul>
        <li>
          <%= link_to 'メモの追加', new_book_memo_path(@book), class: 'add-memo-btn' %>
          <%= link_to '本の編集', edit_book_path(@book) , class: 'edit-title'%>
          <%= link_to '本の削除', book_path(@book), class: 'delete-book', method: :delete %>
        </li>
      </ul>
    </div>
    <%= render 'common/right-side-header' %>
  </div>
</header>

<div class='main'>
  <div class='main-upper'>
    <%= @book.title %>
  </div>
  <div class='main-lower'>
    <ul class='memo-list'>
    <% @memos.each do |memo| %>
      <li class='memo'>
        <%= link_to book_memo_path(@book, memo) do %>
          <% if memo.image.attached? %>
            <%= image_tag memo.image.variant(resize: '250x500'), class: "memo-img" %>
          <% end %>
          <div class='memo-content'><%= memo.memo %></div>
        <% end %>
      </li>
    <% end %>
    </ul>
    <div class='paginate'>
      <%= paginate @memos %>
    </div>
  </div>
</div>
