<header class='my-page-header'>
  <%# ヘッダー上部 %>
  <div class='search'>
    <%= render 'common/app-title' %>
  </div>
  <%# ヘッダー下部 %>
  <div class='guide'>
    <%= render 'common/left-side-header', {info1: 'メモ一覧', path1: book_path(@book), info2: 'メモの編集', path2: edit_book_memo_path(@book, @memo), info3: 'メモの削除', path3: book_memo_path(@book, @memo)} %>

    <%= render 'common/right-side-header' %>
  </div>
</header>

<div class='main'>
  <%# メモの表示 %>
  <div class='sub-main'>
    <div class='detail'>
      <% if @memo.image.attached? %>
        <%= image_tag @memo.image.variant(resize: '500x500'), class:'detail-img'%>
      <% end %>
      <div class='detail-memo'><%= @memo.memo %></div>
    </div>
  </div>
</div>