<header class='my-page-header'>
  <%# ヘッダー上部 %>
  <div class='search'>
    <%= render 'common/app-title' %>
  </div>
  <%# ヘッダー下部 %>
  <div class='guide'>
   <div class='left-side-header'>
      <ul>
        <li>
          <%= link_to 'メモ一覧', book_path(@book) , class: 'memo-index'%>
          <%= link_to 'メモの編集', edit_book_memo_path(@book, @memo), class: 'edit-memo' %>
          <%= link_to 'メモの削除', book_memo_path(@book, @memo), class: 'delete-memo', method: :delete %>
        </li>
      </ul>
    </div>
    <%= render 'common/right-side-header' %>
  </div>
</header>

<div class='main'>
  <%# メモの表示 %>
  <div class='sub-main'>
    <div class='detail'>
      <% if @memo.image.attached? %>
        <%= image_tag @memo.image.variant(resize: '500x500'), class:'detail-img'%>
      <% end %>
      <div class='detail-memo'><%= @memo.memo %></div>
    </div>
  </div>
</div>